.main-part{
   border: 1px solid blue;
   width: 45%;
   height: auto;
   margin: 0 auto;
   margin-top: 94px;
   font-size: 3rem;
 
}

 @media(max-width:1100px){
   .main-part{
      width: 70%;
      margin-left: 10px;
   }
 }

 @media(max-width:900px){
   .main-part{
      width: 90%;
      margin: 0 auto;
      margin-top: 94px;
   }
 }