.rightSide{
    position: fixed;
    right: 10px;
    top: 9.5rem;
    width: 25%;
    height: 87vh;
    font-size: 3rem;
    overflow-y: auto;
    border: 1px solid blue;

}


@media(max-width:900px){
    .rightSide{
       display: none;
    }
  }