@font-face {
   font-family: Klavica;
   src: url("../CSS/fonts/Klavika-Regular.otf"); }

body{
   font-family: 'Klavica', sans-serif;
   font-weight: 400;
   color: $color-black;
   line-height: 1.7;
}
